body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f5f5f5;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    margin-left: 60px;
    margin-right: 60px;
    height: 90px;
}




.logo {
    margin-bottom: 10px; 
    /* Add some space between logo and h1 */
}

.logo img {
    width: 85px;
    height: 85px;
    margin-right: 10px;
}

h1 {
    margin: 0; /* Remove default margin for h1 */
}



nav {

    padding: 10px;
    text-align: center;
    margin-left: 75px;
    margin-right: 75px;
}

.nav{
    height: 4px;
    width: 100%;
    background-color: #791919;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #791919;
    cursor: pointer;
}

.section1 {
    background-color: #ecf0f1;
    padding: 0px;
    margin-top: 20px;
    margin-left: 70px;
    margin-right: 70px;
    border-radius: 10px;
    text-align: center;
    transition: background-color 0.3s; /* Add transition for smooth hover effect */
}

.section {
    border: 2px #791919;
    background-color: #ecf0f1;
    padding: 0px;
    margin-top: 20px;
    margin-left: 250px;
    margin-right: 250px;
    border-radius: 10px;
    text-align: center;
    transition: background-color 0.3s; /* Add transition for smooth hover effect */
}



.paragraph {
    border: 3px black;
    margin: 50px;
    box-sizing: border-box;
    padding: 0 10px;
    text-align: justify;
}



.col img {
    display: block;
    margin: 0 auto; /* Center the image horizontally */
}


.logo {
    max-width: 100%; /* Ensure the image doesn't exceed its original size */
    height: auto; /* Maintain the image's aspect ratio */
    display: block; /* Remove any default inline styling */
    margin: 0 auto; /* Center the image horizontally */
}
footer {
    background-color: #34495e;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

span{
    margin-left: 30px;
}

#a{
    
    padding: 50px;
}

#a:hover{
    box-shadow: 2px 2px 4px 2px rgba(65, 52, 52, 0.2);

}

#b{
    padding: 15px;
}

#b:hover{
    box-shadow: 4px 4px 4px 2px rgba(65, 52, 52, 0.2);
    border-radius: 20px;
    /* background-color: rgb(208, 228, 203); */

}

